@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(202, 192, 32), rgb(187, 55, 22));
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Yuanyang_hani_farmer.jpg/1200px-Yuanyang_hani_farmer.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  max-width: 90%;
  margin: auto;
  font-family: "Open Sans", serif;
}

header:first-child h1 {
  background-color: yellow
}

.Villagers {
  border-left: 3px dashed orange;
}

.Farmer {
  border-left: 3px dashed purple;
}

.Good {
  text-transform: capitalize;
  color: green;
}

.Bad {
  text-transform: capitalize;
  color: red;
}

#thumbsup {
  background-image: url("/Icons/thumbsup");
  padding-right: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: 150px;
}

#thumbsdown {
  background-image: url("/Icons/thumbsdown");
  padding-right: 50%;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: 150px;
}

#cat {
  background-image: url("/Icons/cat");
  padding-right: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: 250px;
}
tr:nth-child(even) {
  background-color: grey;
}

tr:nth-child(odd) {
  background-color: white;
}

img {
  max-width: 350px;
  margin: auto;
}

p{
  font-family: "Open Sans", serif;
  word-spacing: 10px;
  color: darkblue;
}

h2 + p {
  font-weight: bold;
}

a{
  text-decoration: none;
  font-size: 22px;
  color: darkred;
}

a:hover {
  background-color: pink;
}

a:visited {
  color: darkgreen;
}

q {
  display:block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 160%;
  background-color: #CAC6C5;
  border-left: 3px dashed;
  margin-top: 80px;
  margin-bottom: 80px;
  font-style: italic;
}
